{
  "parser": "babel-eslint",
  "extends": ["airbnb-base", "prettier"],
  "env": {
    "browser": true,
    "es6": true,
    "node": true
  },
  "globals": {},
  "plugins": [
    "prettier"
  ],
  "rules": {
    "prettier/prettier": "error"
  }
}
